.menu {
    margin-right: 20px;
    width: 20%;
    min-width: 200px;
    height: 100%;
    background-color: #DBE1D9;
    overflow: auto;
}

.menu header {
width: 100%;
height: 44px;
padding-left: 12px;
}

.menu header h3 {
cursor: pointer;
padding-top:10px;
float:left;
}

.menu .add-form .button {
width: 40px;
height: 50px;
background-size: cover;
background-repeat: no-repeat;
-webkit-transform: translate(-6px, 0px);
transform: translate(-6px, 0px);
color: #FFFFFF;
background: url('/img/plus-sign.svg');
background-size: 50px;
margin-top: -11px;
}


.menu .add-form {
width: 100%;
display:flex;
padding: 8px;
height: 44px;
margin-bottom: 50px;
-webkit-transform-origin: 50% 0%;
transform-origin: 50% 0%;
transition: transform 0.65s ease-in-out;
}


input[type=text] {
border-radius: 8px;
-webkit-appearance: none;
border: 0 none;
padding: 4px 10px 4px 10px;
width: 70%;
height: 40px;
font-size: 16px;
margin-left: 12px;
margin-top: -6px;
}

input[type=text]:focus {
outline: none;
}

.menu ul {
    height: 100%;
}


.menu ul li {
    width: 100%;
    border-top: 1px solid #FFFFFF;
    padding: 12px;
    color: #CB0000;
}

li:last-child {
  border-bottom: 1px solid #FFFFFF;
}

.menu a:link, .menu a:visited {
    color: #CBDFBD;
    text-decoration: none;
    margin-left: 5px;
}

.menu a:hover {
    color: #F19C79;
}

.menu footer {
    height: 44px;
    text-align: right;
    font-size: 18px;
    padding-top: 15px;
}

.menu input {
  float: left;
  margin-right: 7px;
}

nav {
  display: flex;
  border: 1px solid #FFFFFF;
  width: 350px;
  height: 260px;
  background-color: white;
  border-radius: 8px;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 8px 10px;
  float: left;
  text-align: center;
  font-weight: bold;
}

div#dragged.drag {
  text-align: center;
  padding-left: 50px;
}
.drag img {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  margin: 5px 5px 5px 5px;
}

div#dragged.droppable {
  height: 50px;
  width: 50px;
}

.droppable img {
  height: 50px;
  width: 50px;
  border-radius: 100px;
  display: flex;
  margin: 3px;
}
