body {
  font-family: "Open Sans", sans-serif;
  background: url("/img/triangle-bg.svg");
  background-repeat:no-repeat;
}

header{
  background-color: #dce0d9;
  height: 10%;
  width: 100%;
}

header h1{
  font-size:30px;
  font-weight: 300;
  color: #bc261d;
  text-align: center;
  padding: 10px 0px 10px 0px;
}


#container {
  background: #dce0d9;
  text-align: center;
  width: 20%;
  margin: 0 auto;
    padding: 12px;

}

nav a {color: red;}

footer{
  color: white;
  text-align: center;
  height: 120px;
  width: 100%;

}

footer p{
padding: 85px 0 85px 0;

}
