body {

  font-family: "Open Sans", sans-serif;

}

header{
  background-color: #dce0d9;


}
header h1{
  font-size:50px;
  color: #bc261d;
  text-align: center;
}


h1{


}

h2{
  font-size: 30px;

}

h3{
  font-size: 28px;


}


p{
  font-size: 25px;

}
.red-btn{
  font-size: 25px;



}

.btn-small{
  width: 305px;
  height: 60px;

}

.btn-large{
  width: 650px;
  height: 60px;

}

footer{
  font-size: 25px;
  color: #000000;
  text-align: center;



}
