<!DOCtype html>
  <html lang="en-us">
  <head>
    <meta charset="utf-8">
    <title>Startup Matchmaker</title>

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>

      <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/signup.css">




  </head>

  <body>
    <header>
      <h1>Startup Matchmaker</h1>
    </header>

    <div id="container">

    <form name="login">

<div id="choose_file">
      <input type="file" onchange="previewFile()"><br/>
      <img src="" height="135" alt="Image preview...">
</div>


      <div class="email_form">
          <input type="email" name="Email" value=""  placeholder="Your Email" class="input_email">
      </div>
          <span id="erremail" class="error">This is required</span><br/>

    <div class="email_form">
          <input type="text" name="userid" value=""  placeholder="User name" class="input_username">
      </div>
          <span id="erruser" class="error">This is required</span><br/>

      <div class="email_form">
        <input type="password" name="Password" value="" placeholder="Password" class="input_password">
      </div>
          <span id="errpassword" class="error">This is required</span><br/>

      <div class="email_form">
        <input type="text" name="First Name" value=""  placeholder="First Name" class="input_firstname">
      </div>
          <span id="errfirst" class="error">This is required</span><br/>

      <div class="email_form">
        <input type="text" name="Last Name" value=""  placeholder="Last Name" class="input_lastname">
      </div>
          <span id="errlast" class="error">This is required</span><br/>

<div id="create_user">
          <input type="button"  value="Create User" class="red_button" onclick="validate();"/>
  </div>

          <nav>
				<a href="login.html">Already Have an Account</a>
						</nav>
<!-- //should the already have account be a link to sign in page not a button -->

    </form>
</div>


    <footer>
      <p>&copy; 2015 Startup Matchmaker. Made in LA.</p>
    </footer>
  </body>
  </html>
